@import url(https://fonts.googleapis.com/css?family=Raleway:300);

/* generic page elements */

body {
  background-image: url('https://d1491mle9u61xx.cloudfront.net/assets/index/background.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #141414;
}

@media (max-width: 767px) {
  body {
    background-size: 767px;
  }
}

h1 {
  text-transform: lowercase;
  color: #eee;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

a {
  color: #bbb;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

a:visited {
  color: #bbb;
}

a:hover {
  color: #eee;
  text-decoration: none;
}

/* custom classes */

.background-filter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0.5;
}
