/* generic page elements */

body {
    background: #eeeeee;
    margin: 2rem;
}

h1 {
  text-transform: lowercase;
  font-weight: 300;
}

a       { cursor: pointer; }
a:hover { text-decoration: none; }

/* bootstrap overrides */

blockquote {
  border-left: 5px solid #555;
}

div.tooltip {
  font-size: 16px;
}

/* un-override some things for bootstrap */

.breadcrumb {
    text-align: left;
}

/* custom classes */

.social-nav a {
  margin-right: 2rem;
}

@media (max-width: 767px) {
  .social-nav a {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.social-nav img {
  opacity: 0.7;
}

.social-nav img:hover {
  opacity: 1;
  background-color: #fff;
}

.box {
    background-color: #bbb;
}

.iconbox {
    width: auto;
    height: auto;
    padding: 0.5rem;
    background-image: none;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

span.iconbox {
    display: inline-block;
}

.iconbox:hover {
    background: rgba(0,0,0,0.2)
}

.iconbox img {
    margin-bottom: 0.5em;
}

.textbox {
    display: inline-block;
    text-align: left;
}

/* types of images */

img.screenshot {
    box-shadow: 6px 6px 12px -6px black;
    max-width: 640px;
    width: 90%;
    border-radius: 5px;
}

img.logo {
    box-shadow: 3px 3px 12px -6px black;
    border-radius: 5px;
}