<head>
    <link rel="stylesheet" type="text/css" href="../mac.css" />
    <title>Grape (Josh's Mac Collection)</title>
    <link rel="icon" type="image/png" href="/favicons/mac.png">
</head>

<body>
<div class='content'>

<div class='spec_header'>
Grape
</div>

<br>
<br>

<div class='spec'>
Type: iMac G3 Tray Loading Rev. C or D (uncertain)<br>
Model Number: ???<br>
Serial Number: ???<br>
<br>
Specifications:<br>
Operating System: Mac OS 9.2.2<br>
CPU Speed: 333 MHz<br>
RAM: 32 MB<br>
Video Card: ATI Rage Pro 6 MB<br>
Hard Drive: Maxtor 20 GB<br>
ROM revision: $77D.45F6<br>
Boot ROM version: 3.0.f2<br>
<br>
Planned Modifications:<br>
Flatscreen replacement<br>
Upgrade to 128 GB hard drive<br>
Upgrade to 512 MB memory<br>
Repartition hard drive<br>
"If you have a hard drive larger than 8 GB, you should partition it so that the first partition is under 8 GB in size (for simplicity, we suggest 7 GB). Failure to do this could eventually result in an unbootable computer, as all System files must be within the first 8 GB of drive space. These Macs can work successfully with larger drives for some time, but once a System files goes outside of the first 8 GB of space, you'll have nothing but problems."<br>
</div>

</div>
</body>
