<head>
    <link rel="stylesheet" type="text/css" href="../apple2.css" />
    <title>Josh's Apple II Collection</title>
    <link rel="icon" type="image/png" href="/favicons/mac.png">
</head>

<body>
Type: Apple //e<br>
Model Number: A2S2064<br>
Serial Number: 1A2S2-D49 0A4T A2S2064<br>
<br>
Modifications:<br>
Applied Engineering Ramworks III card<br>
Apple Super Serial card<br>
Apple floppy connector card<br>
<br>
Distinguishing Characteristics:<br>
"ComputerCraft" plastic label above keyboard<br>
</body>
