<head>
  <script src='../js/jquery-2.1.0.min.js'></script>
  <script src='../js/easeljs-0.7.1.min.js'></script>
  <script src="../js/tweenjs-0.5.1.min.js"></script>
  <script src="../js/soundjs-0.5.2.min.js"></script>
  <meta name='viewport' content='width=device-width initial-scale=1.0'>
  <title>wham</title>
</head>
<style>
  body { background-color: #333333; margin: 0; }
</style>
<canvas id="theCanvas">
</canvas>

<script>
  window.onresize = function() {
    var canvas = document.getElementById('theCanvas');
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
  };
  document.body.style.overflow = 'hidden';
  window.onresize();

  var stage = new createjs.Stage("theCanvas");
  createjs.Ticker.setFPS(30);
  createjs.Ticker.addEventListener('tick', stage);

  // Initial setup

  var rects = [];
  var marquees = [];
  var timer = 100.0;
  var showtimer = false;
  var timerText = null;

  addMarquee('press x for instructions. spacebar to continue');
  // Input functions

  $(document).keydown(function(e) {
    if (e.which == 32) { // spacebar
      e.preventDefault();
      digimonLotus();
    } else if (e.which == 88) { // 'x'
      e.preventDefault();
      addMarquee();
    } else {
      e.preventDefault();
      console.log(e.which);
    }
  });

  $(document).click(function(e) {
    e.preventDefault();
    toggleTimer();
  });

  // Update function

  createjs.Ticker.addEventListener('tick', function() {
    rects.forEach(function(e) {
      e.rotation += e.rotspeed;
    });
    marquees.forEach(function(e) {
      e.x -= e.marqspeed;
    });
    timer -= 0.03;
    timerText.text = timer.toFixed(2);
    timerText.x += (Math.random() - 0.5) * 7;
    timerText.y += (Math.random() - 0.5) * 7;
    timerText.scaleX = timerText.scaleY += (Math.random() - 0.5);
    if (timerText.scaleX < 0) {
      timerText.scaleX = timerText.scaleY += Math.random();
    }
    timerText.skewX += (Math.random() - 0.5);
    timerText.skewY += (Math.random() - 0.5);
  });

  // Functions used for various things

  function addRect(x, y, size, color, rotspeed) {
    var rect = new createjs.Shape();
    rect.x = x;
    rect.y = y;
    rect.graphics.beginFill(color).drawRect(-size/2, -size/2, size, size);
    rect.rotspeed = rotspeed;
    rects.push(rect);
    stage.addChild(rect);
    stage.update();
  }

  /** @param [text] */
  function addMarquee(text) {
    var texts = [
      'please choose something to kill',
      'touch any buttons',
      'don\'t click',
      'attack now, before it\'s too late',
      'get the hammer to defeat the princess',
      'look under the dungeon to find the troll',
      'press i to access your inventory',
      'other commands are undocumented',
      'help is not available at this time',
      'you only have 100 seconds to complete the game. hurry.',
      '30 seconds remaining.',
      'the jungle level is the hardest',
      'there aren\'t any extra lives',
      'to get extra lives, find the crystal',
      'open the javascript console to cheat'
    ];
    var red = Math.floor(Math.random() * 255);
    var blue = Math.floor(Math.random() * 255);
    var green = Math.floor(Math.random() * 255);
    var marquee = new createjs.Text();
    marquee.text = text ? text : texts[Math.floor(Math.random() * texts.length)];
    marquee.color = 'rgb(' + red + ', ' + green + ', ' + blue + ')';
    marquee.marqspeed = (Math.random() * 20) + 10;
    marquee.x = stage.canvas.width;
    marquee.y = Math.floor(Math.random() * stage.canvas.height);
    marquee.scaleX = marquee.scaleY = (Math.random() * 5) + 1;
    marquees.push(marquee);
    stage.addChild(marquee);
    stage.update();
  }

  function toggleTimer() {
    if (timerText) {
      stage.removeChild(timerText);
      timerText = null
    } else {
      var red = Math.floor(Math.random() * 255);
      var blue = Math.floor(Math.random() * 255);
      var green = Math.floor(Math.random() * 255);
      timerText = new createjs.Text();
      timerText.text = timer.toFixed(2);
      timerText.color = 'rgb(' + red + ', ' + green + ', ' + blue + ')';
      timerText.x = Math.floor(Math.random() * stage.canvas.width);
      timerText.y = Math.floor(Math.random() * stage.canvas.height);
      timerText.scaleX = timerText.scaleY = (Math.random() * 5) + 1;
      stage.addChild(timerText);
      stage.update();
    }

  }

  function digimonLotus() {
    var x = Math.floor(Math.random() * stage.canvas.width);
    var y = Math.floor(Math.random() * stage.canvas.height);
    var size = Math.floor(Math.random() * 400);
    var red = Math.floor(Math.random() * 255);
    var blue = Math.floor(Math.random() * 255);
    var green = Math.floor(Math.random() * 255);
    var color = 'rgb(' + red + ', ' + green + ', ' + blue + ')';
    var rotspeed = (Math.random() * 20) + 5;
    addRect(x, y, size, color, rotspeed);
    addRect(x+size, y, size, color, rotspeed);
    addRect(x, y+size, size, color, rotspeed);
    addRect(x+size, y+size, size, color, rotspeed);
  }
</script>
