<head>
  <meta name='viewport' content='width=device-width initial-scale=1.0'>
</head>
<style>
body { background-color:#222; font-size: 20px;}
a { color: #4444FF;}
.date { float:left; color: #333; width:0; white-space: nowrap;}
</style>
<center>
  <div class='date'>jan 7 2015</div>
  <p><a href='worlds/index.html'>worlds</a></p>

  <div class='date'>aug 17 2014</div>
  <p><a href='journals/mother.html'>mother</a></p>

  <div class='date'>aug 1 2014</div>
  <p><a href='journals/construct.html'>construct</a></p>

  <div class='date'>feb 20 2014</div>
  <p><a href='games/wham.html'>wham</a></p>

  <div class='date'>dec 6 2013</div>
  <p><a href='twine/startup.html'>startups</a></p>

  <div class='date'>dec 5 2013</div>
  <div>
    <div style="border: 5px outset darkgray; display: inline-block; background-color: gray; padding: 10px">
      <p><a href='https://www.extropicstudios.com/webring.html'><img src='https://s3-us-west-2.amazonaws.com/extropic-engine/webring_banner.gif'/></a></p>
      <span><a style="color: magenta;" href='https://www.extropicstudios.com/webring/prev.php?from=extropicstudios'>prev</a></span>
      <span><a style="color: magenta;" href='https://www.extropicstudios.com/webring/random.php?from=extropicstudios'>random</a></span>
      <span><a style="color: magenta;" href='https://www.extropicstudios.com/webring/next.php?from=extropicstudios'>next</a></span>
    </div>
  </div>

  <div class='date'>dec 4 2013</div>
  <p><a href='twine/graves.html'>graves</a></p>
  <p><a href='games/bloop.html'>bloop</a></p>

  <span class='date'>nov 28 2013</span>
  <p><a href='https://2087.tumblr.com/post/68402948387/follow-the-future-at-2087'><img src='images/future.gif'/></a></p>
  <p><a href='twine/generator.html'>generator</a></p>

  <div class='date'>nov 26 2013</div>
  <p><a href='twine/hallway.html'>hallway</a></p>
