@import url(https://fonts.googleapis.com/css?family=Armata);

/* generic page elements */

body {
    background: #eeeeee;
    background-image: url("styles/index/background.png");
    background-repeat: repeat;
    font-family: "Armata", Verdana, Arial, serif;
    text-align: center;
    border-radius: 5px;
}

a:hover {
    text-decoration: none;
}

/* override some things for bootstrap */

.nav {
    padding-left: 17.643368628717%;
}

/* un-override some things for bootstrap */
.breadcrumb {
    text-align: left;
}

/* boxes */

.box {
    border-radius: 5px;
    background-color: #bbb;
    box-shadow: 3px 3px 9px -3px black;
}

.iconbox {
    width: auto;
    height: auto;
    padding: 0.5rem;
    background-image: none;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

span.iconbox {
    display: inline-block;
}

.iconbox:hover {
    background: rgba(0,0,0,0.2)
}

.iconbox img {
    margin-bottom: 0.5em;
}

.textbox {
    display: inline-block;
    text-align: left;
}

/* types of images */

img.screenshot {
    box-shadow: 6px 6px 12px -6px black;
    max-width: 640px;
    width: 90%;
    border-radius: 5px;
}

img.logo {
    box-shadow: 3px 3px 12px -6px black;
    border-radius: 5px;
}
