<head>
</head>

<style>
body {
  background-color: black; color: silver; font-size: 2em; font-family: 'Times New Roman';
  background-image: url('images/star_bg.gif');
}
</style>
<center>
  <p style="font-family: 'Copperplate'; color: lightgray; font-size: 3em; width: 800px;">
    Welcome to the Witches of the Pacific Northwest webring!!!
  </p>
  <div style="border: 5px outset darkgray; display: inline-block; background-color: gray; padding: 10px">
    <p><a href='https://www.extropicstudios.com/webring.html'><img src='https://s3-us-west-2.amazonaws.com/extropic-engine/webring_banner.gif'/></a></p>
    <span><a style="color: magenta;" href='https://www.extropicstudios.com/webring/prev.php'>prev</a></span>
    <span><a style="color: magenta;" href='https://www.extropicstudios.com/webring/random.php'>random</a></span>
    <span><a style="color: magenta;" href='https://www.extropicstudios.com/webring/next.php'>next</a></span>
  </div>
  <img src='images/under-construction.gif' width=800 height=400/>
</center>

<h1 style="color: white;">site list</h1>
<ol style="color: white;">
  <li><a style="color: red" href='https://www.extropicstudios.com/nothings.html'>extropic studios</a></li>
  <li><a style="color: red" href='http://www.tangentbot.com'>tangentbot</a></li>
  <li><a style="color: red" href='http://www.modestcomics.com'>modest comcis</a></li>
  <li><a style="color: red" href='http://www.raveradbury.com'>raveradbury</a></li>
</ol>

<center>
<a href='webring/join.html'><img src='images/join.gif'/></a>
</center>

<div style="position:fixed; right:0; top:200; padding:10px; border: 5px outset silver; background: gray;">
<h2>LINKS</h2>

<a href='webring/faq.html'>F.A.Q.</a><br>
<!--<a href='webring/forums.html'>Forums</a><br>
<a href='webring/gallery.html'>Photo Gallery</a><br>-->
<a href='webring/guestbook.rb'>Guestbook</a><br>
</div>

<!-- TODO: add midi music -->
