<style>
body {
  background-color: black;
  color: silver;
  font-size: 1.5em;
  font-family: "Comic Sans MS";
}
.question {
  color: red;
  padding-bottom: 0.5em;
}
.answer {
  color: green;
  padding-bottom: 1em;
}
</style>
<h1>About Joining</h1>

<div class='question'>Q: Do I have to be in the pacific northwest to join?</div>
<div class='answer'>A: No!!! Anyone can join!</div>

<div class='question'>Q: Do I have to be a witch to join?</div>
<div class='answer'>A: Yes!!!</div>

<a href='../webring.html' style='color: magenta; align:center;'>BACK to the homepage!!!</a>
