<head>
    <title>Josh's Atari Collection</title>
    <link rel="icon" type="image/png" href="/favicons/mac.png">
</head>

<body>

<div class='tab_table'>
<div class='table_header'>Systems</div>
<table>
<tr><th>Type</th>               <th>Serial</th><th>Issues</th></tr>
<tr><td>Video Pinball C-380</td><td>75089</td> <td>None</td></tr>
</table>
</div>

</body>
