@font-face {
    font-family: "C64";
    src: url(commodore.ttf);
}

a {
    outline: none;
    text-decoration: none;
}

a:link {
    background-color: rgb(66,66,251);
    color: rgb(165,165,255);
}

a:visited {
    background-color: rgb(66,66,251);
    color: rgb(165,165,255);
}

a:hover {
    background-color: rgb(165,165,255);
    color: rgb(66,66,251);
}

body {
    background-color: rgb(165,165,255);
    color: rgb(165,165,255);
    font-family: "C64", monospace;
}

.invert {
    background-color: rgb(165, 165, 255);
    color: rgb(66,66,251);
}

.content {
    background-color: rgb(66,66,251);
    text-align: center;
}

.tab_table {
    margin: 0px auto;
    width: 70%;
}

.table_header {
    background-color: rgb(165, 165, 255);
    color: rgb(66,66,251);
    display: inline-block;
}

.tab_table table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.tab_table th {
    width: 25%;
}

.tab_table tr.head {
    background-color: rgb(165, 165, 255);
    color: rgb(66,66,251);
}

/* for left nav */

ul {
    list-style-type: none;
}

#links {
    position: fixed;
    text-align: left;
    /*width: 11em;*/
    padding: 0 0 0 0;
}

#links ul {
    margin: 0;
    padding: 0;
    border: none;
}

#links li {
    margin: 0;
}

#links li a {
    display: block;
    margin-left: 1em;
    background-color: rgb(66,66,251);
    color: rgb(165,165,255);
    text-decoration: none;
}

#links li a .invert {
    background-color: rgb(165,165,255);
    color: rgb(66,66,251);
}

#links li a:hover {
    background-color: rgb(165,165,255);
    color: rgb(66,66,251);
}

#links li a:hover .invert {
    background-color: rgb(66,66,251);
    color: rgb(165,165,255);
}
