@import url(https://fonts.googleapis.com/css?family=Geo);
@import url(https://fonts.googleapis.com/css?family=Armata);

body {
    text-align: center;
    font-family: "Geo";
    font-size: 18px;
}

a img {
    opacity: 0.8;
}

a img:hover {
    opacity: 1;
}

a{
    outline: none;
    text-decoration: none;
}

a:link {
    color: #444444;
}

a:visited {
    color: #444444;
}

a:hover {
    color: #222222;
}

/* for left nav */

ul {
    list-style-type: none;
}

#links {
    position: fixed;
    text-align: left;
    width: 11em;
    padding: 0 0 0 0;
    font-size: 16px;
    font-family: "Armata", Verdana, Arial, serif;
}

#links ul {
    margin: 0;
    padding: 0;
    border: none;
}

#links li {
    margin: 0;
}

#links li a {
    display: block;
    padding: 5px 5px 5px 0.5em;
    border-left: 10px solid #333333;
    background-color: #555555;
    color: #fff;
    text-decoration: none;
    width: auto;
}

#link-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#link-bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

html.body #links li a {
    width: auto;
}

#links li a:hover {
    border-left: 10px solid #222222;
    /*border-right: 10px solid #aaaaaa;*/
    background-color: #444444;
    color: #fff;
}

.iconbox {
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    width: 96px;
    border-radius: 4px;
}
