@font-face {
    font-family: "Chicago";
    src: url(Chicago.ttf);
}

body {
    background-image: url("images/mac_bg.png");
    font-family: "Chicago";
    font-size: 16px;
}

.content {
    text-align: center;
}

.tab_table {
    margin: 0px auto;
    width: 70%;
    border: 1px solid black;
    background-color: white;
}

.table_header {
    background-color: silver;
}

.tab_table table {
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.tab_table th {
    width: 33%;
    background-color: #dddddd;
}

.c1 {
    background-color: #dddddd;
}

.spec_header {
    font-size: 36px;
}

.spec {
    background-color: white;
    margin: 0px auto;
    width: 50%;
    font-size: 14px;
}
