@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Armata);

body {
    text-align: center;
    font-family: "Armata";
}

.content {
    display: inline-block;
    margin: auto;
}

.page_header {
    font-family: "Audiowide";
    font-size: 24px;
}

.tab_table {
    margin: 0px auto;
    width: 70%;
}

.table_header {
    display: inline-block;
    float: left;
    padding: 2px;
    font-family: "Audiowide";
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.tab_table table {
    width: 100%;
    border: 1px solid black;
}

/* for left nav */

ul {
    list-style-type: none;
}

#links {
    position: fixed;
    text-align: left;
    width: 11em;
    padding: 0 0 0 0;
    font-size: 16px;
    font-family: "Armata", Verdana, Arial, serif;
}

#links ul {
    margin: 0;
    padding: 0;
    border: none;
}

#links li {
    margin: 0;
}

#links li a {
    display: block;
    padding: 5px 5px 5px 0.5em;
    border-left: 10px solid #333333;
    background-color: #555555;
    color: #fff;
    text-decoration: none;
    width: auto;
}

#link-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#link-bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

html.body #links li a {
    width: auto;
}

#links li a:hover {
    border-left: 10px solid #222222;
    /*border-right: 10px solid #aaaaaa;*/
    background-color: #444444;
    color: #fff;
}
