@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Armata);

body {
    background-color: #eeeeee;
    text-align: center;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

a:link {
    color: #444444;
}

a:visited {
    color: #444444;
}

a:hover {
    color: #222222;
}

.box {
    border: 3px solid #e5e5e5;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.company {
    font-weight: bold;
    font-size: 20px;
    font-family: "Audiowide";
}

.company img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.system {
    margin: auto;
    width: 600px;
    border: 3px solid #aaaaaa;
    border-radius: 5px;
    background-color: #cccccc;
    color: black;
}

.system-image {
    float: left;
    width: 397px;
}

.system-text {
    float: right;
    width: 194px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 10px;
}

.system-name {
    font-family: "Audiowide";
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 3px solid #aaaaaa;
}

.system img {
    width: 400px;
    border-right: 3px solid #aaaaaa;
}

/* for left nav */

ul {
    list-style-type: none;
}

#links {
    position: fixed;
    text-align: left;
    width: 11em;
    padding: 0 0 0 0;
    font-size: 16px;
    font-family: "Armata", Verdana, Arial, serif;
}

#links ul {
    margin: 0;
    padding: 0;
    border: none;
}

#links li {
    margin: 0;
}

#links li a {
    display: block;
    padding: 5px 5px 5px 0.5em;
    border-left: 10px solid #333333;
    background-color: #555555;
    color: white;
    text-decoration: none;
    width: auto;
}

#link-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#link-bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

html.body #links li a {
    width: auto;
}

#links li a:hover {
    border-left: 10px solid #222222;
    background-color: #444444;
    color: #fff;
}
