<head>
    <link rel="stylesheet" type="text/css" href="wishlist.css" />
    <title>Josh's Retrocomputing Wishlist</title>
    <link rel="icon" type="image/png" href="/favicons/mac.png">
</head>

<div id='links'>
  <ul>
    <li><a id='link-top' href='/index.html'>Home</a></li>
    <li><a href='index.html'>Retrocomputing</a></li>
    <li><a id='link-bottom' href='http://code68k.extropicstudios.com'>Code68k</a></li>
    <!--<li><a id='link-bottom' href='http://sites.google.com/site/codexxnetwork'>CodeXX/Network</a></li>-->
  </ul>
</div>

<div class='box'>
<div class='company'><a href='index.html'>&lt;- Back to Josh's Retrocomputing Collection</a></div>
</div>

<br><br>

<div class='box'>
<div class='company'><img src='https://s3.amazonaws.com/josh-retrocomputing/logo_apple.png'></div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/apple1.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>Apple 1</div>
        Replica Cost: ~$150
    </span>
    <br style='clear:both'>
</div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/lisa.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>Lisa</div>
        Cost: ~$3,000
    </span>
    <br style='clear:both'>
</div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/apple3.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>Apple ///</div>
        Cost: ~$2,000
    </span>
    <br style='clear:both'>
</div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/mac_portable.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>Macintosh Portable</div>
        Cost: ~$500
    </span>
    <br style='clear:both'>
</div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/tam.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>Twentieth Anniversary Mac</div>
        Cost: ~$600-$1000
    </span>
    <br style='clear:both'>
</div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/imac_g4.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>iMac G4</div>
        Cost: ~$50-$200
    </span>
    <br style='clear:both'>
</div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/ibook_g3.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>iBook G3 (Clamshell)</div>
        Cost: ~$100-$200
    </span>
    <br style='clear:both'>
</div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/workgroup_server_95.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>Workgroup Server 95</div>
        Cost: Unknown
    </span>
    <br style='clear:both'>
</div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/maciisi.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>Macintosh IIsi</div>
        Cost: ~$20
    </span>
    <br style='clear:both'>
</div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/g4_cube.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>G4 Cube</div>
        Cost: ~$100-$200
    </span>
    <br style='clear:both'>
</div>
</div>

<br><br>

<div class='box'>
<div class='company'><img src='https://s3.amazonaws.com/josh-retrocomputing/logo_commodore.png'></div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/commodore64.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>Commodore C64</div>
        Cost: ~$20<br><br>
        One of the most widely known and loved microcomputers.
    </span>
    <br style='clear:both'>
</div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/commodore128.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>Commodore C128</div>
        Cost: ~$40<br><br>
        More powerful version of the C64, widely used in the demoscene.
    </span>
    <br style='clear:both'>
</div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/commodore_pet.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>Commodore PET</div>
        Cost: $200-$500
    </span>
    <br style='clear:both'>
</div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/amiga_1000.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>Amiga 1000</div>
        Cost: $30-$250
    </span>
    <br style='clear:both'>
</div>
</div>

<br><br>
<!--
<div class='box'>
<div class='company'><img src='https://s3.amazonaws.com/josh-retrocomputing/logo_cray.png'></div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/cray.png'>
    </span>
    <span class='system-text'>
        Any Cray replica would be awesome.
    </span>
    <br style='clear:both'>
</div>
</div>

<br><br>

<div class='box'>
<div class='company'><img src='https://s3.amazonaws.com/josh-retrocomputing/logo_digital.png'></div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/pdp-1.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>PDP-1</div>
        Replica.<br><br>
        Spawned hacker culture, Spacewar.
    </span>
    <br style='clear:both'>
</div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/pdp-7.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>PDP-7</div>
        Replica.<br><br>
        Platform for first version of Unix.
    </span>
    <br style='clear:both'>
</div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/pdp-10.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>PDP-10</div>
        Replica.<br><br>
        Original platform of Colossal Cave Adventure.
    </span>
    <br style='clear:both'>
</div>
</div>

<br><br>

<div class='box'>
<div class='company'><img src='https://s3.amazonaws.com/josh-retrocomputing/logo_mit.png'></div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/tx-0.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>TX-0</div>
        Replica.<br><br>
        Predecessor to PDP-1, central to development of hacker culture.
    </span>
    <br style='clear:both'>
</div>
</div>

<br><br>
-->
<div class='box'>
<div class='company'><img src='https://s3.amazonaws.com/josh-retrocomputing/logo_mits.png'></div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/altair_8800.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>Altair 8800</div>
        Replica cost: ~$200<br><br>
        First widely available microcomputer.
    </span>
    <br style='clear:both'>
</div>
</div>

<br><br>

<div class='box'>
<div class='company'><img src='https://s3.amazonaws.com/josh-retrocomputing/logo_next.png'></div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/next_computer.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>NeXT Computer</div>
        Cost: ~$1,000<br><br>
        The computer that invented the Internet!
    </span>
    <br style='clear:both'>
</div>
</div>

<br><br>
<!--
<div class='box'>
<div class='company'><img src='https://s3.amazonaws.com/josh-retrocomputing/logo_processor_technology.png'></div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/sol-20.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>Sol-20</div>
        Historically significant to the dawn of the microcomputer era.
    </span>
    <br style='clear:both'>
</div>
</div>

<br><br>

<div class='box'>
<div class='company'><img src='https://s3.amazonaws.com/josh-retrocomputing/logo_sgi.png'></div>
<br>
<div class='system'>
    <span class='system-image'>
        <img src='https://s3.amazonaws.com/josh-retrocomputing/iris_crimson.png'>
    </span>
    <span class='system-text'>
        <div class='system-name'>IRIS Crimson</div>
        MIPS based system with stylish boxy case.
    </span>
    <br style='clear:both'>
</div>
</div>

-->
