<head>
  <meta name='viewport' content='width=device-width initial-scale=1.0'>
  <link rel='stylesheet' href='construct.css'>
  <title>C()NST&#11035;RUCT</title>
</head>

<body>
  <div class='column'>

    <!-- sony.style -->

    <div class='header style'><a class='title' href='#'>SONY</a>.style</div>
    <div class='description style'>like.no.other</div>

    <ul class='style'>
      <li><a href='struct/minidisc.html'>minidisc &#x25B0;</a></li>
      <!--<li><a href='#'>msx &#x25B0;</a></li>
      <li><a href='#'>vita &#x25B0;</a></li>-->
    </ul>

    <!-- electroarchaeology -->

    <div class='header opus'>OPUS <a class='title' href='#'>[[ELECTROARCHAEOLOGY</a></div>
    <div class='description opus'>resurrection of ancient wisdom</div>

    <ul class='opus'>
      <li>
        &#x25B8; <del>IIgs rebirth project</del>
        <ul>
          <li>
            &#x25B8; <del>OS boot</del>
            <ul>
              <li>&#x25B8; <del>external disk drive</del></li>
              <li>&#x25B8; <del>connect to ADTPro</del></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href='#'>&#x25B8; 16-bit code</a>
        <ul>
          <li><a href='#'>&#x25B8; enso</a></li>
          <li><a href='#'>&#x25B8; qliphoth</a></li>
          <li><a href='#'>&#x25B8; hex</a></li>
        </ul>
      </li>
      <li>
        <a href='#'>&#x25B8; 8-bit code</a>
        <ul>
          <li><a href='#'>&#x25B8; myelin</a></li>
          <li><a href='#'>&#x25B8; alternative dos</a></li>
          <li><a href='#'>&#x25B8; i ching</a></li>
        </ul>
      </li>
    </ul>

    <!-- aomo/hex -->

    <div class='header opus'>OPUS <a class='title' href='#'>--//aomo</a></span></div>
    <div class='description opus'>creation of a multitude of universes</div>

    <ul class='opus'>
      <li><a href='#'>- constructed languages</a></li>
      <li><a href='#'>- places</a></li>
    </ul>

    <!-- poetry -->

    <div class='header praxis'>PRAXIS <a class='title' href='#'>poeticism</a></span></div>
    <div class='description praxis'>finding a sense of purpose in the world</div>

    <ul class='opus'></ul>

    <!-- gossamer -->

    <div class='header opus'>OPUS <a class='title' href='#'>::gossamer</a></div>
    <div class='description opus'>the threads that bind together all things</div>

    <ul class='opus'>
      <li><a href='#'>- exegesis</a></li>
      <li><a href='#'>- NG</a></li>
      <li><a href='#'>- ledger</a></li>
      <li><a href='#'>- panopticon</a></li>
      <li><a href='#'>- mantra</a></li>
      <li><a href='#'>- quire</a></li>
      <li><a href='#'>- &#233;cole</a></li>
      <li><a href='#'>- labyrinth</a></li>
    </ul>

    <div class='header praxis'>PRAXIS <a class='title' href='#'>presentness</a></span></div>
    <div class='description praxis'>living in the world more fully</div>

    <ul class='opus'></ul>

    <!-- windowsninetyfivesecondedition -->

    <div class='header opus'>OPUS <a class='title' href='#'>;;~WINDOWSNINETYFIVESECONDEDITION</a></div>
    <div class='description opus'>analogue</div>

    <ul class='opus'>
      <li><a href='#'>&#9758; synthesis</a></li>
      <li><a href='#'>&#9758; &lambda;&upsilon;&rho;&iota;&kappa;&#972;&sigmaf;</a></li>
    </ul>

    <div class='header praxis'>PRAXIS <a class='title' href='#'>musicality</a></span></div>
    <div class='description praxis'>learning to hear</div>

    <div class='journal-entry'>
      <div class='journal-title'>memory of &lt;WINDOWSNINETYFIVESECONDEDITIONLIVEATLEVOYEUR&gt;</div>
      <div class='journal-date'>02014.aug.03</div>
      <div class='journal-text'>
        <p>authenticity &amp; honesty are crucial</p>
        <p>the stage is for you. treat it as such because only by doing so can you respect your audience</p>
        <p>others will not carry your memories for you</p>
      </div>
    </div>

  </div>
</body>
