<head>
  <link rel='stylesheet' href='../bootstrap/css/bootstrap.min.css' />
  <link rel='stylesheet' href='../bootstrap/css/bootstrap-responsive.min.css' />
  <link rel='icon' type='image/png' href='../favicons/main.png' />
  <title>journal : hexagon</title>
</head>

<body>
  <script src='../jquery.js'></script>
  <script src='../bootstrap/js/bootstrap.js'></script>
  <script src='../jquery-ui.js'></script>

  <div class='row-fluid'>
    <div class='span6 offset3 pagination-centered'>
      <p class='lead'>Book II</p>
      <p>Prototype, modeling, and camera layout</p>
      <p>Lobby</p>
      <table class='table table-bordered'>
        <tr>
          <td><del>Simple model</del></td>
          <td>Doorways</td>
        </tr>
        <tr>
          <td>Details</td>
          <td>Camera views</td>
        </tr>
      </table>
      <p>Temple</p>

      <p>
        Design basic view layouts for each room

        * * *

        #### Lobby General
        - [x] Basic model template
        - [x] Extend panels to full height
        - [ ] Add doorways
        - [ ] Add details
        - [ ] Set up views

        * * *

        #### Temple
        - [x] Paper Blueprint
        - [x] Base model
        - [ ] Add door to outside
        - [ ] Outside view
        - [ ] Set up views

        * * *

        #### Elevator Interior
        - [ ] Base model
        - [ ] Integrate with lobby
        - [ ] Set up views

        * * *

        #### Geo Lab
        - [x] Base Model
        - [ ] Doorway to lobby
        - [ ] Set up views

        * * *

        #### Library
        - [ ] Base model
        - [ ] Doorway to lobby
        - [ ] Set up views

        * * *

        #### Circular Halls
        - [x] Base model
        - [ ] Add detail
        - [ ] Add doorways
        - [ ] Cut out atrium doorway
        - [ ] Set up views

        * * *

        #### Power Plant
        - [x] Base model (join hall to platform, finish up)
        - [ ]
        - [ ] Doorway
        - [ ] Set up views

        * * *

        #### Atrium
        - [x] Base model
        - [x] South View (Control panel)
        - [x] West View (Forest)
        - [x] North View (Flavor space) = Need to put a machine or plants or something to fill space
        - [x] East View (Doorway)

        * * *

        #### Span / Contamination Hall
        - [x] Blueprint
        - [ ] Base model
        - [ ] Set up views

        * * *

        #### Contamination Chamber
        - [ ] Blueprint
        - [ ] Base model
        - [ ] Set up views

        * * *

        #### Cryo Lab
        - [x] Blueprint
        - [ ] Base model
        - [ ] Set up views

        * * *

        #### Bottomless Span
        - [ ] Base model
        - [ ] Set up views

        * * *

        #### Control Bridge Door
        - [ ] Design appearance on paper
        - [ ] Set up views

        * * *

        #### Control Bridge
        - [ ] Blueprint
        - [ ] Base model
        - [ ] Set up views

        * * *

        #### Stairwell
        - [ ] Base model
        - [ ] Set up views
        - [ ] South View
        - [ ] East View
        - [ ] West View

        * * *

        #### Clock
        - [ ] Blueprint
        - [ ] Base model
        - [ ] Set up views
      </p>
    </div>
  </div>
</body>
