<h1>playdiscs</h1>

<div class='disc'>
  <div class='disc-title'>aliceffekt</div>
  <div class='track'>
    <div class='title'></div>
    <div class='length'></div>
  </div>
</div>

<div class='disc'>
  <div class='disc-title'>nwa</div>
  <div class='track'>
    <div class='title'></div>
    <div class='length'></div>
    <div class='source'></div>
  </div>
</div>

<div class='disc'>
  <div class='disc-title'>crystal castles</div>
  <div class='track'>
    <div class='title'></div>
    <div class='length'></div>
  </div>
</div>

<div class='disc'>
  <div class='disc-title'>Neon Rain</div>
  <div class='track'>
    <div class='title'>Prologue and Main Titles</div>
    <div class='length'>3:54</div>
    <div class='source'>Blade Runner OST Esper Edition</div>
  </div>
  <div class='track'>
    <div class='title'>Prologue and Main Titles</div>
    <div class='length'>3:54</div>
    <div class='source'>Blade Runner OST Esper Edition</div>
  </div>
  <div class='track'>
    <div class='title'>Prologue and Main Titles</div>
    <div class='length'>3:54</div>
    <div class='source'>Blade Runner OST Esper Edition</div>
  </div>
  <div class='disc-total'>
    <div class='tracks'></div>
    <div class='time'></div>
  </div>
</div>

<div class='disc'>
  <div class='disc-title'>hellfyre club</div>
  <div class='track'>
    <div class='title'></div>
    <div class='length'></div>
  </div>
</div>

<div class='disc'>
  <div class='disc-title'>grimes</div>
  <div class='track'>
    <div class='title'></div>
    <div class='length'></div>
  </div>
</div>

<div class='disc'>
  <div class='disc-title'>misha mishenko</div>
  <div class='track'>
    <div class='title'></div>
    <div class='length'></div>
  </div>
</div>

<div class='disc'>
  <div class='disc-title'>†‡† &amp; white ring</div>
  <div class='track'>
    <div class='title'></div>
    <div class='length'></div>
  </div>
</div>

<div class='disc'>
  <div class='disc-title'>bob dylan</div>
  <div class='track'>
    <div class='title'></div>
    <div class='length'></div>
  </div>
</div>

<div class='disc'>
  <div class='disc-title'>new wave</div>
  <div class='track'>
    <div class='title'></div>
    <div class='length'></div>
  </div>
</div>

django django
justice
lady gaga
lana del rey
leonard cohen
lou reed
mia
ryoji ikeda
