.NodeContent {
	font-family:Verdana;
	font-size:small;
}

.Node  {
	position:absolute;
	background-color: #CCDAFF;
	border: 1px solid #5280FF;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	overflow:hidden;
}

.NodeHover {
	position:absolute;
	background-color: #8FADFF;
	border: 1px solid #5280FF;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	overflow:hidden;
}

.NodeCollapsed {
	position:absolute;
	background-color: #8FADFF;
	border: 2px solid black;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	overflow:hidden;
}


.NodeLine {
	background-color: black;
	position:absolute;
	overflow:hidden;
}
