<head>
  <meta name='viewport' content='width=device-width initial-scale=1.0'>
  <link rel="stylesheet" href="worlds.css">
</head>

<h1>Naminoke - Creators of the Automata</h1>
<p>
The Naminoke are bald and have smooth skin, which ranges from gray to pale white to brown. They have calm-looking ovoid eyes.
Their skin is cold to the touch and durable, with the texture and hardness of marble. They live in elegant cities inside of massive caverns deep
below Aomo's surface. They trade frequently with the surface dwellers and are renowned for the quality of their metal and stone goods. Visitors to
their cities are welcomed, but only as trading partners, not as equals. The Naminoke avoid getting involved in the politics of the surface-dwellers,
as they are often too busy with their own conflicts with other underground races. Their society is extremely advanced technologically, though they
shun most magic and religion. They construct massive automatons who excavate their tunnels, build their buildings, and fight their wars. Their
society is logical and organized, separated by profession into various guilds. There is no bureaucratic government, with the guilds instead working
together in harmony to rule themselves. On occasion, a Naminoke rebels from society to practice magic or some other forbidden acts. Such outcasts
are not actively persecuted, but are cut off from their relations and forbidden from entering Naminoke cities.
</p>

<h1>Nelowehmu - The Abandoned Tunnels</h1>
<p>
The Nelowehmu is the Naminoke name for an ancient warren of tunnels that spans miles beneath the surface of Aomo. They were excavated long ago by the
Naminoke, and then abandoned for one reason or another. Eventually, other subsurface creatures inhabited them and claimed them as their own. The
tunnels contain artifacts from the earlier years of the Naminoke civilization, when their focus was more on magic and mysticism than on technology.
Many of these artifacts are powerful and dangerous, and some have corrupted the new inhabitants of the Nelowehmu, turning them vicious and hostile.
The tunnels are also home to the Naminoke's early attempts at building automata, which were discarded and wandered into the tunnels, still trying to
fulfill their original purpose.
</p>

<h1>Automata</h1>
<p>
Automata are robotic, semi-sentient creatures created by the Naminoke. They are powered by a variety of different sources, with the most common type
being mechanical robots powered by clockwork gears, wind-up pendulums, and the like. More advanced models use electrical batteries, while some
experimental automata use anything from geothermal heat to magical energy. The intelligence of an automaton can range from insect-like menial work
robots to near-omniscience in some of the powerful magically-enhanced models.
</p>

<h1>The Earth God</h1>
<p>
The Earth God is not a true god in the sense of the word, but an extremely powerful automata who styles itself as such. The Earth God was born when
an exiled Naminoke sorcerer tried to give an automaton human intelligence through forbidden magic. The experiment worked, and the automaton served
as a faithful friend and servant to its creator for many years. Eventually, its creator died of natural causes, and the automaton was left to fend
for itself. The automaton discovered that its magically-enhanced mind could be divided and transferred into the body of another automaton, and that
body would then act as an extension of the original's own mind. Eventually, this automaton expanded its intellect to a hive-mind consisting of
thousands of automatons, all of whom lived in a massive robot city deep in the Nelowehmu. But every time the automaton split his intellect, he lost a
tiny bit of his sanity. By this point, the poor creature is almost completely deranged, and has begun to believe itself to be some sort of divine
power. The Naminoke, as the most powerful entity in the underground world, are the Earth God's primary enemy, and it is waiting to build its power
until it is strong enough to exterminate them.
</p>

<h1>Automata Factions</h1>

<h2>Followers of the Earth God</h2>
<p>
One of the largest groups of Automata. They believe in the ideals of purity and nature, although not in the way humans would. Their idea of purity
revolves around reducing everything to its simplest elemental form. Automata, as simple constructions made of raw elements like iron, are naturally
more "pure" than biologically complex humans. Geometric crystals such as minerals hold a special significance to them.
</p>

<h2>The Discarded</h2>
<p>
  More of a form of robot philosophy than a true organization, The Discarded believe that the Naminoke seek to oppress robotkind by refusing to
  allow them self-awareness. They take their position as the discarded refuse of the Naminoke with pride. Their appearance tends to be rusty and
  asymmetrical, looking as if they were cobbled out of junk. Despite this, The Discarded can call on a powerful military presence when needed, due
  to their large number of followers.
</p>
