body {
  background-color:#222;
  font-family: "Helvetica Neue", "Helvetica", "Trebuchet MS";
  margin: 45px;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  color: #ddd;
  font-weight: 300;
}
p {
  font-size: 16px;
  color: white;
  padding: 15px 30px;
}
h2 {
  color: #ddd;
  font-weight: 300;
}
