@font-face {
    font-family: PC Senior;
    src: url(pcsenior.ttf);
}

body {
    background-color: rgb(192, 192, 192);
}

a {
    text-decoration: none;
    color: rgb(0, 0, 255);
}

a:visited {
    color: rgb(0, 0, 255);
}

.textbox {
    font-family: PC Senior;
    font-size: 16px;
    background-color: rgb(160, 160, 160);
    border: 0px;
    outline: none;
}

#content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(160, 160, 160);
    width: 640px;
    border: 3px solid rgb(128, 128, 128);
    padding-top: 2%;
    padding-left: 8%;
    padding-right: 8%;
}

#previous {
    text-align: left;
    font-family: PC Senior;
    font-size: 24px;
}

#thanks {
    font-family: PC Senior;
}

#comic {

}

#text {
    font-family: PC Senior;
}

#description {
    padding-top: 1em;
    padding-bottom: 1em;
}

#action {
    padding-top: 1em;
    padding-bottom: 1em;
}

#nav {
    font-family: PC Senior;
    text-align: center;
}

#nav ul {
    list-style-type: none;
}

#nav ul li {
    display: inline;
    cursor: pointer;
    border: 1px solid black;
    padding: 2px;
    color: rgb(240,240,240);
    background-color: rgb(20,20,20);
}

#nav a {
    color: rgb(240,240,240);
}

#social {
    text-align: center;
}

#about {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: rgba(64, 64, 64, 0.95);
    text-align: center;
    display: none;
    border: 5px solid rgba(32,32,32,0.95);
}

#about-text {
    position: relative;
    top: 20%;
    text-align: center;
    color: #aaaaaa;
}

#hide-about {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid black;
    background-color: rgba(0,0,0,0.95);
    padding: 5px;
    font-family: sans-serif;
    font-size: 36px;
    color: rgba(255,255,255,0.95);
    cursor: pointer;
}

#show-about {
    text-align: center;
    cursor: pointer;
    font-size: 10px;
    font-family: sans-serif;
}